[project]
	description = samle student management system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ganesan Dharmalingam (imdganesan)
[access "refs/for/refs/*"]
	read = group user/Ganesan Dharmalingam (imdganesan)
	push = group user/Ganesan Dharmalingam (imdganesan)
	label-Code-Review = -2..+2 group user/Ganesan Dharmalingam (imdganesan)
	label-Verified = -1..+1 group user/Ganesan Dharmalingam (imdganesan)
	rebase = group user/Ganesan Dharmalingam (imdganesan)
	removeReviewer = group user/Ganesan Dharmalingam (imdganesan)
	submit = group user/Ganesan Dharmalingam (imdganesan)
[access "refs/heads/*"]
	read = group user/Ganesan Dharmalingam (imdganesan)
	create = group user/Ganesan Dharmalingam (imdganesan)
	push = +force group user/Ganesan Dharmalingam (imdganesan)
	pushMerge = group user/Ganesan Dharmalingam (imdganesan)
[access "refs/tags/*"]
	push = group user/Ganesan Dharmalingam (imdganesan)
	push = +force group user/Ganesan Dharmalingam (imdganesan)
